<a href="https://colab.research.google.com/github/MohitPunasiya/Contests/blob/main/nba_rookie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/nba_rookie/Train_data.csv')

In [ ]:
data.head()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,Target
0,59.0,12.8,3.4,1.3,2.6,51.0,0.2,0.3,50.0,0.7,0.8,78.0,1.1,2.3,3.3,0.5,0.3,0.4,0.5,1
1,31.0,10.7,3.4,1.2,3.3,35.3,0.5,2.1,25.8,0.5,0.9,55.2,0.3,1.1,1.4,0.4,0.3,0.1,0.2,0
2,48.0,9.3,4.5,1.7,3.4,49.7,0.0,0.1,0.0,1.2,1.9,61.5,0.4,0.8,1.2,0.8,0.5,0.4,1.0,0
3,80.0,27.7,11.2,3.5,9.4,37.4,1.3,4.1,32.9,2.8,3.3,85.0,0.8,1.6,2.4,3.9,1.3,0.1,2.2,1
4,58.0,18.4,5.8,1.9,5.3,36.7,0.0,0.1,25.0,1.9,3.1,61.7,0.5,0.7,1.2,1.9,1.1,0.2,1.7,0

#EDA

In [ ]:
data['GP'] = data['GP'].apply(lambda x: np.floor(x))

In [ ]:
data.describe()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,Target
count,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000
mean,58.915531,16.928284,6.502344,2.511125,5.645747,43.912555,0.241959,0.767455,19.050425,1.241914,1.741848,70.495847,0.958240,1.937014,2.891927,1.472706,0.589403,0.344204,1.150499,0.499546
std,17.264655,8.034209,4.163856,1.611502,3.422292,6.106910,0.363008,1.017214,15.513640,0.937585,1.272047,10.381068,0.771344,1.342627,2.039694,1.376592,0.386147,0.418840,0.687706,0.500227
min,11.000000,3.100000,1.100000,0.400000,1.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.300000,0.000000,0.000000,0.000000,0.100000,0.000000
25%,46.000000,10.492268,3.587756,1.400000,3.200000,40.000000,0.000000,0.000000,0.000000,0.600000,0.900000,64.900000,0.400000,1.000000,1.400000,0.600000,0.300000,0.100000,0.700000,0.000000
50%,59.000000,15.386486,5.200000,2.000000,4.600000,43.652785,0.100000,0.300000,22.600000,1.000000,1.400000,71.502462,0.700000,1.600000,2.273596,1.041951,0.500000,0.200000,0.988945,0.000000
75%,76.000000,21.830403,8.300000,3.200000,6.900000,47.700000,0.400000,1.195634,32.300000,1.600000,2.200000,77.436718,1.300000,2.500000,3.700000,1.900000,0.800000,0.400000,1.400000,1.000000
max,82.000000,40.900000,24.300000,9.000000,18.900000,73.700000,2.300000,6.500000,100.000000,7.500000,10.200000,100.000000,5.300000,9.600000,13.900000,10.600000,2.500000,3.900000,4.200000,1.000000

In [ ]:
sns.plot(x='GP',data=data)

AttributeError: ignored

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101 entries, 0 to 1100
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GP       1101 non-null   float64
 1   MIN      1101 non-null   float64
 2   PTS      1101 non-null   float64
 3   FGM      1101 non-null   float64
 4   FGA      1101 non-null   float64
 5   FG%      1101 non-null   float64
 6   3P Made  1101 non-null   float64
 7   3PA      1101 non-null   float64
 8   3P%      1101 non-null   float64
 9   FTM      1101 non-null   float64
 10  FTA      1101 non-null   float64
 11  FT%      1101 non-null   float64
 12  OREB     1101 non-null   float64
 13  DREB     1101 non-null   float64
 14  REB      1101 non-null   float64
 15  AST      1101 non-null   float64
 16  STL      1101 non-null   float64
 17  BLK      1101 non-null   float64
 18  TOV      1101 non-null   float64
 19  Target   1101 non-null   int64
dtypes: float64(19), int64(1)
memory usage: 172.2 KB

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

#DNN

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
import tensorflow as tf

In [ ]:
X = data.drop('Target',axis=1)
y = data['Target']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=2)

In [ ]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_train

In [ ]:
model = Sequential()
model.add(Dense(40,activation='relu', kernel_regularizer=tf.keras.regularizers.L1(00.001),
    activity_regularizer=tf.keras.regularizers.L2(0.001)))
model.add(Dense(30,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(20,activation='relu'))
model.add(Dense(20,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
opt  = tf.keras.optimizers.Adam(
    learning_rate=0.01,
    beta_1=0.9,
    beta_2=0.999,
    epsilon=1e-07,
    amsgrad=False,
    name='Adam'
)
#opt = tf.keras.optimizers.SGD(learning_rate=0.001)
model.compile(optimizer=opt,loss='binary_crossentropy',metrics= ['accuracy'])

In [ ]:
import keras
checkpoint_filepath = 'weights.{epoch:02d}-{val_loss:.2f}.h5'
model_checkpoint_callback = keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_filepath,
    monitor='val_accuracy',
    mode='max',
    save_best_only=True)
model.fit(X_train,y_train,validation_data = (X_test,y_test),epochs=20000,batch_size=50,callbacks=[model_checkpoint_callback])

In [ ]:
model.evaluate(X_test,y_test)

In [ ]:
model_for_test = keras.models.load_model('/content/weights.35-0.57.h5')

##SVM

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [0.1,1, 10, 100, 1000], 'gamma': [1,0.1,0.01,0.001,0.0001], 'kernel': [ 'rbf', 'sigmoid']} 
gs_SVC = GridSearchCV(SVC(),param_grid,refit=True,verbose=1)
gs_SVC.fit(X_train,y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf', 'sigmoid']},
             verbose=1)

In [ ]:
print('BestParameters:', gs_SVC.best_params_)
print('BestScore:',gs_SVC.best_score_)

BestParameters: {'C': 1000, 'gamma': 0.01, 'kernel': 'sigmoid'}
BestScore: 0.6906876264019121

#Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
param_grid = {'n_estimators': np.arange(5,100), 'max_depth': np.arange(5,125,1),'max_features' :("auto", "sqrt")} 
gs_rfc = GridSearchCV(RandomForestClassifier(),param_grid,refit=True,verbose=1)
gs_rfc.fit(X_train,y_train)

In [ ]:
print('Best Parameters:',gs_rfc.best_params_)
print('BestScore:',gs_rfc.best_score_)

#Ensemble

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
confusion_matrix(y_test,final_pred)

array([[93, 17],
       [54, 57]])

In [ ]:
print(classification_report(y_test,pred1))

              precision    recall  f1-score   support

           0       0.63      0.77      0.70       110
           1       0.71      0.56      0.63       111

    accuracy                           0.67       221
   macro avg       0.67      0.67      0.66       221
weighted avg       0.67      0.67      0.66       221

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

knn_classifier = KNeighborsClassifier(n_neighbors=3)
RandomForestClassifier = RandomForestClassifier(max_depth= 20, max_features='sqrt', n_estimators= 20)
svc_classifier = SVC(C= 100, gamma= 0.1, kernel= 'rbf')
lr = LogisticRegression(C= 10, l1_ratio= 0.5)
mlp_classifier = MLPClassifier(alpha= 0.01, hidden_layer_sizes= 10)
maxVotingClassifier = VotingClassifier(estimators=[('KNN', knn_classifier), ('random forest', RandomForestClassifier), ('SVC', svc_classifier),('lr',lr),('mlpc',mlp_classifier)], voting='hard')
maxVotingClassifier.fit(X_train, y_train)

y_pred = maxVotingClassifier.predict(X_test)
print("Sklearn Max Voting Classifier Accuracy:", accuracy_score(y_test, y_pred)*100)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:1479: UserWarning: l1_ratio parameter is only used when penalty is 'elasticnet'. Got (penalty=l2)
  "(penalty={})".format(self.penalty)

Sklearn Max Voting Classifier Accuracy: 72.25274725274726

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

In [ ]:
test_data = pd.read_csv('/content/drive/MyDrive/nba_rookie/Test_data.csv')
test_data = scaler.fit_transform(test_data)

In [ ]:
preds = model_for_test.predict(test_data)

In [ ]:
preds = (pd.DataFrame(preds,columns = ['prediction'])>=0.5).astype(int)

In [ ]:
preds.to_csv('/content/drive/MyDrive/preds10.csv', index = False)